/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.htaccess
storage/.htaccess
storage/app/public/.htaccess
storage/app/public/uploads/.htaccess
/config/app.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
